.admin-container {
    display: flex;
  }
  
  .admin-offers {
    flex: 1;
    padding: 20px;
  }
  
  .offer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
  }
  
  .offer-item {
    box-sizing: border-box;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    
  }
  .card
  {
    border: 2px solid #FFB396;
    padding:15px;

  }
  .card-body
  {
    background-color: rgba(240, 228, 228, 0.366);
    box-shadow: inset;
    
  }
 