
.artist-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
  }
  
  .artist-box {
    border: 1px solid black;
    padding: 15px;
    margin-bottom: 20px;
    background-color: white;
    
  }
  
  .artist-name {
    font-weight: bold;
    font-size: 30px;

  }
  
  .artist-email {
    font-size: 20px;
  }
  
  button {
    margin-top: 10px;
  }
  
  .delete-artist
  {
    background-color: #a685bc !important;
  font-size:15px !important;
  width:30% !important;
  color:white !important;
  font-weight:bold !important;
  margin-left:200px !important;
  }