@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

html,body
{
    background: white !important;
}
.container-fluid
{
    font-family: 'Josefin Sans', sans-serif;
    
}

h1
{
    font-size:50px;
}
.form-profile

{
    background-color: #f9f6f7;
    width:100%;
    height:80%;
    margin-left:300px;
}

input
{
    margin-top:10px;
}

label
{
    margin-top:10px;
}

.update
{
    background-color: #FFB396 !important;
  font-size:15px !important;
  width:30% !important;
  color:white !important;
  font-weight:bold !important;
  margin-left:300px !important;
  
  
}