
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Josefin+Sans:wght@300&family=Lobster&display=swap');
 .image-box {
  width: 320px;
  margin: 0 5px 20px 5px; /* Adjust margin values for top, right, bottom, and left */
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px #5b36295e;
  transition: transform 0.3s ease;
  font-family: 'Josefin Sans', sans-serif;
  background-color: white;
}

.visitor-content {
  margin-top: 12%;
  margin-left: 15%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: 300px; 
}
 .image-box:hover {
  transform: scale(1.05);
}

.image-box p {
margin: 5px 0;
}


 .img-display
 {
  border:solid black 3px;
  padding:10px;
  
  
 }

 

 .offer-form{

  
  width:80%;
 
  
 }

.close-button{
  margin:5px;

}

.email-offer{
  font-size: 20px !important;
  
  
}

.email-offer-input{
  margin:5px;
  margin-left:200px;
  width:350px;
  padding:5px;
  font-size:18px;
}

.quote
{
  font-size:25px;
  
  margin:7px;
  margin-left:270px;
  margin-top:20px;
  font-family: 'Abril Fatface', serif;

}

.quote-input
{
  font-size:20px;
  padding:3px;
  margin:7px;
  margin-left:-70px;
  width:350px;
  height:100px;
}

.submit-offer{
  margin-left:310px;
  background-color: hsl(268, 92%, 65%);
  margin-top:30px;
  border:none;
  font-size:18px;

}

.artwork-item
{
  padding:-200px;
}

.img-disp{
  display:block;
  margin-right: auto;
  margin-left:auto;
}