
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');


.upload-input {
  margin-bottom:20px !important;
  padding: 8px !important;
  font-family: 'Josefin Sans', sans-serif;
  font-size:15px !important;
  margin-top:-10px !important;
  padding-top:30px;
  
}

button {
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
 
}

img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
 
}

.image-box {
  width: 350px;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  
  box-shadow: 0 0 10px #5b36295e;
  transition: transform 0.3s ease; 
  font-family: 'Josefin Sans', sans-serif;
  background-color: white;
}

.image-box:hover {
    transform: scale(1.05);
  }
  
.image-box p {
  margin: 5px 0;
}


.upload-form{
   background-color:white;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   font-family: 'Josefin Sans', sans-serif;
   font-size:15px!important;
   margin-left:450px !important;
   width:60% !important;
   height:80% !important;
   
}

.btn-circle{
  font-size:30px;
  font-weight:bold;
  width: 40px;
    height: 40px;
    padding: 6px 0px;
    border-radius: 35px;
    text-align: center;
   margin-top:-80px !important;
    line-height: 1.42857;
    margin-top:15px !important;
    background-color: #8B72BE;
    

}

.img-upload{
  border:solid black 3px;
  padding:10px;
  width:350px;
  height:250px;
  

}
hr
{
  width:1250px;
  border-top:10px solid #FF6347 ;
}
.delete{
  background-color: #FFB396 !important;
  font-size:15px !important;
  width:40% !important;
  font-weight:bold !important;
  margin-left:90px !important;
  color:black !important;

}

.modify{
  background-color: #b19cd9 !important;
  font-size:15px !important;
  width:40% !important;
  color:white !important;
  font-weight:bold !important;
  margin-left:90px !important;

}

.submit
{
  background-color: #b19cd9 !important;
  font-size:15px !important;
  width:40% !important;
  color:white !important;
  font-weight:bold !important;
  margin-left:90px !important;
}