:active, :hover, :focus {
  outline: 0!important;
  outline-offset: 0;
}
::before,
::after {
  position: absolute;
  content: "";
}

.btn-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1000px;
  margin: 10px auto 35px;
}
.button2 {
  position: relative;
  display: inline-block !important;
  width: auto !important; height: auto !important;
  background-color: transparent;
  border: 1px solid rgba(162, 89, 255, 1) ;
  font-family: var(--font-kodchasan);
  font-size:23.47px;
  cursor: pointer !important;
  top: 40px !important;
  left: 920px !important;
  box-sizing: border-box;
  width: 75px !important;
  height: 48px !important;
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: center !important;
  margin: 0px 25px 15px;
  min-width: 150px;
}
  .button2 span {         
    position: relative;
    display: inline-block;
    
   
    letter-spacing: 2px;
    text-transform: uppercase;
    top: 0; left: 0;
    width: 100%;
    padding: 15px 20px;
    transition: 0.3s;
  }


  .btn-2::before {
    background-color: rgba(162, 89, 255, 1);
    transition: 0.3s ease-out;
  }
  .btn-2 span {
    color: rgb(28, 31, 30);
    
    transition: 0.2s;
  }  
  .btn-2 span:hover {
    color: rgb(255,255,255);
    transition: 0.2s 0.1s;
  }
  
  .button2.hover-slide-up::before {
    bottom: 0; left: 0; right: 0; 
    height: 0%; width: 100%;
  }
  .button2.hover-slide-up:hover::before {
    height: 100%;
  }

.dream-artscapes {
  margin: 0;
  position: absolute;
  top: 0;
  left: 160px !important;
  font-size: var(--font-size-36xl) !important;
  font-family:var(--font-bodoni-moda)!important;
  font-weight: var(--bs-body-font-weight);
  letter-spacing: -0.07em !important;
  font-weight: 400 !important;
  color: #d2564f !important;
  display: flex !important;
  align-items: center;
  width: 424px !important;
  height: 125px !important;
  text-shadow: 0 2.2px 2.17px rgba(0, 0, 0, 0.25)!important;
}
.menu
{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 124px;
  height: 26px;
  margin-left:70px;
  margin-top:30px;
  text-align: left;
}

.active-menu
{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 124px;
  height: 26px;
  margin-left:70px;
  margin-top:30px;
  text-align: left;
  background-color:#d2564f;
  color:white;
  text-decoration: none;
}
nav.home-parent div.active-menu a
{
  text-decoration: none;
  color:white;
}


nav.home-parent div.menu a
{
  text-decoration: none;
  color:black;
}
nav.home-parent div.menu a::before{
  content: "";
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: #fff;
  transition: 0.5s transform ease;
  transform: scale3d(0,1,1);
  transform-origin: 0 50%;
  text-decoration: none;
}
nav.home-parent div.menu a:hover::before{
  transform: scale3d(1,1,1);
  text-decoration: none;
}

nav.home-parent div.menu a::before{
  background: #ff7262;
  transform-origin: 100% 50%;
  text-decoration: none;
}
nav.home-parent div.menu a:hover::before{
  transform-origin: 0 50%;
  text-decoration: none;
}
.home-parent,
.navbar {
  display: flex;
  flex-direction: row;
}
.home-parent {
  margin: 0;
  align-items: center;
  justify-content: center;
  gap: 14.19px;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-gray);
  font-family: var(--font-kodchasan);
}
.navbar {
  position: absolute;
  top: 125px;
  left: 136px;
  width: 703px;
  height: 63px;
  align-items: flex-start;
  justify-content: flex-start;
}


.button1 {
  cursor: pointer;
  color:white ;
  padding: var(--padding-3xs);
  font-family: var(--font-kodchasan);
  font-size:18px;
  background-color: #ff7262;
  position: absolute;
  top: 31px;
  box-sizing: border-box;
  height: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  left: 1110px;
  width: 130px;
  font-size:23.47px;
  
  
}


.first-page {
  position: absolute;
  left: 0;
  width: 1920px;
  
}
.cecily-borwn-1-1-icon {
  top: 500px;
  height: 648px;
  width:1080px;
 margin-left:180px;
 margin-top:200px;
 
 
  
}
.first-page {
  top: -31px;
  height: 898px;
 
}
.explore-a-palette,
.explore-a-palette1,
.first {
  position: absolute;
  font-family: var(--font-bodoni-moda);
}
.first {
  top: 54px;
  left: 0;
  width: 1920px;
  height: 867px;
  text-align: left;
  font-size: var(--font-size-36xl);
  color: #d2564f;
}
.explore-a-palette,
.explore-a-palette1 {
  margin: 0;
  top: 43px;
  left: 892px;
  font-size: 50px;
  letter-spacing: -0.07em;
  display: flex;
  font-style: italic;
  font-weight: 600;
  align-items: center;
  width: 408px;
  height: 198px;
  text-shadow: 0 0.7px 0.73px rgba(0, 0, 0, 0.25);
}
.explore-a-palette1 {
  top: 79px;
  left: 154px;
  font-size: 60px;
  color: rgba(233, 233, 219, 0.1);
  width: 516px;
  height: 233px;
}
.genre-child {
  position: absolute;
  top: 79.8px;
  left: 66.8px;
}
.frame-child {
  position: relative;
  border-radius: 0 47.31px 0 47.31px;
  width: 293px;
  height: 299px;
  object-fit: cover;
}
.frame-item {
  align-self: stretch;
}
.rectangle-parent {
  position: absolute;
  top: 347px;
  left: 186px;
  width: 293px;
  height: 299px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 4.14px;
}
.the-sun-and {
  margin: 0;
}
.contemporary-art,
.for-those-who,
.the-sun-and-container {
  position: absolute;
  display: flex;
  align-items: center;
  height: 6px;
}
.the-sun-and-container {
  top: 686px;
  left: 212px;
  font-weight: 500;
  text-align: right;
  width: 267px;
}
.contemporary-art,
.for-those-who {
  top: 312px;
  left: 208px;
  font-size: var(--font-size-6xl);
  width: 311px;
}
.for-those-who {
  top: 683px;
  left: 196px;
  font-size: var(--font-size-mini);
  font-weight: 500;
  width: 299px;
  height: 260px;
}
.frame-inner {
  position: relative;
  border-radius: 47.31px 47.31px 0 8px;
  width: 315px;
  height: 302px;
  object-fit: cover;
}
.frame-div {
  align-self: stretch;
  height: 5.9px;
}
.rectangle-group {
  position: absolute;
  top: 347px;
  left: 625px;
  width: 244px;
  height: 335px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 4.14px;
}
.realism-and-impressionism,
.step-into-a {
  position: absolute;
  display: flex;
  align-items: center;
}
.step-into-a {
  top: 762px;
  left: 664px;
  font-size: var(--font-size-mini);
  font-weight: 500;
  width: 295px;
  height: 142px;
}
.realism-and-impressionism {
  top: 309px;
  left: 623px;
  font-size: var(--font-size-6xl);
  width: 355px;
  height: 15px;
}
.houses-of-parliament-container {
  position: absolute;
  top: 688px;
  left: 693px;
  font-weight: 500;
  text-align: right;
  display: flex;
  align-items: center;
  width: 244px;
  height: 5.9px;
}
.watchdog-ii-nam-container {
  position: relative;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 225px;
  height: 6px;
  flex-shrink: 0;
}
.watchdog-ii-nam-june-paik-wrapper {
  position: absolute;
  top: 690px;
  left: 1055px;
  width: 179px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: right;
}
.our-gallery-isnt {
  position: absolute;
  top: 730px;
  left: 1051px;
  font-size: var(--font-size-mini);
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 228px;
  height: 222px;
}
.genre-item,
.scupltures {
  position: absolute;
  top: 617px;
  left: 1055px;
  width: 179px;
  height: 5.9px;
}
.scupltures {
  top: 312px;
  left: 1082px;
  font-size: var(--font-size-6xl);
  display: flex;
  align-items: center;
  width: 218px;
  height: 6px;
}
.genre-inner {
  position: absolute;
  top: 340px;
  left: 1037px;
  border-radius: 47.31px 0 47.31px 0;
  width: 243px;
  height: 309px;
  object-fit: cover;
}
.ellipse-div {
  position: absolute;
  top: 378.7px;
  left: 1370.7px;
  border-radius: 50%;
  border: 0.2px solid var(--color-linen-100);
  box-sizing: border-box;
  width: 72px;
  height: 24.3px;
  transform: rotate(-2.97deg);
  transform-origin: 0 0;
  display: none;
}
.genre {
  position: absolute;
  top: 961px;
  left: 0;
  background-color: #2c2d26;
  width: 1920px;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-linen-100);
  font-family: var(--font-kodchasan);
}
.about-us-child,
.about-us-item {
  position: absolute;
  top: 656px;
  left: 883px;
  width: 360px;
  height: 315px;
}
.about-us-item {
  top: 0;
  left: 128.9px;
  border-radius: 0 0 206px 0;
  width: 537.3px;
  height: 435.3px;
  object-fit: cover;
}
.blank-line {
  margin: 0;
  font-size: 4.73px;
}
.about-us1,
.at-gallery-name-container {
  position: absolute;
  top: 572px;
  left: 298px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 915px;
  height: 70px;
}
.about-us1 {
  margin: 0;
  top: 33px;
  left: 942px;
  font-size: var(--font-size-36xl);
  font-weight: 700;
  font-family: var(--font-bodoni-moda);
  width: 325px;
  height: 222px;
}
.about-us,
.about-us-inner {
  position: absolute;
  top: 190.5px;
  left: 576.7px;
}
.about-us {
  top: 2025px;
  left: 0;
  background-color: var(--color-linen-100);
  width: 1920px;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: 22px;
  color: var(--color-gray);
  font-family: var(--font-kodchasan);
}
.featured-artists {
  position: absolute;
  top: 150px;
  left: 183px;
  font-size: 80.98px;
  letter-spacing: -0.07em;
  display: flex;
  font-family: var(--font-bodoni-moda);
  align-items: center;
  width: 608px;
  height: 142px;
}
.featured-child,
.featured-item {
  position: absolute;
  top: 322px;
  left: 251px;
  border-radius: var(--br-7xl) var(--br-6xl) 0 0;
  width: 584px;
  height: 320px;
  object-fit: cover;
}
.featured-item {
  left: 855px;
  width: 383px;
}
.featured-child1,
.featured-inner,
.rectangle-icon {
  position: absolute;
  top: 683px;
  left: 251px;
  border-radius: var(--br-7xl) var(--br-6xl) 1px 0;
  width: 290px;
  height: 269px;
  object-fit: cover;
}
.featured-child1,
.rectangle-icon {
  left: 654px;
  border-radius: var(--br-7xl) var(--br-6xl) 0 0;
}
.featured-child1 {
  left: 1013px;
}
.yoko-ono,
.yoko-ono-wrapper {
  display: flex;
  align-items: center;
}
.yoko-ono {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.07em;
  font-weight: 400;
  font-family: inherit;
  width: 576px;
  height: 48px;
  flex-shrink: 0;
}
.yoko-ono-wrapper {
  position: absolute;
  top: 564px;
  left: 251px;
  background-color: var(--color-gray-100);
  width: 584px;
  height: 78px;
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-3xs);
  box-sizing: border-box;
}
.b {
  font-family: var(--font-kodchasan);
}
.tracey-emin-txt-container {
  line-break: anywhere;
  width: 100%;
}
.tracey-emin {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.07em;
  display: flex;
  align-items: center;
  width: 284px;
  height: 48px;
  flex-shrink: 0;
  font-family: inherit;
}
.tracey-emin-wrapper {
  position: absolute;
  top: 900px;
  left: 251px;
  background-color: var(--color-gray-100);
  width: 290px;
  height: 52px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  box-sizing: border-box;
}
.sylvie-bayard {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.07em;
  font-weight: 400;
  font-family: inherit;
  display: flex;
  align-items: center;
  width: 284px;
  height: 48px;
  flex-shrink: 0;
}
.mattia-riccadona-wrapper,
.sylvie-bayard-wrapper {
  position: absolute;
  top: 900px;
  left: 654px;
  background-color: var(--color-gray-100);
  width: 290px;
  height: 52px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  box-sizing: border-box;
}
.mattia-riccadona-wrapper {
  left: 1013px;
}
.kara-walker {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.07em;
  font-weight: 400;
  font-family: inherit;
  display: flex;
  align-items: center;
  width: 377px;
  height: 48px;
  flex-shrink: 0;
}
.kara-walker-wrapper {
  position: absolute;
  top: 579px;
  left: 855px;
  background-color: var(--color-gray-100);
  width: 383px;
  height: 63px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  box-sizing: border-box;
}
.featured {
  position: absolute;
  top: 3092px;
  left: 0;
  background-color: #a54c48;
  width: 1920px;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-16xl);
  color: var(--color-white);
  font-family: var(--font-habibi);
}
.cover {
  position: relative;
  background: linear-gradient(161.88deg, #e9e9db, #f7f7ea);
  width: 100%;
  height: 4119px;
  overflow: hidden;
}
